In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('eda_outlier.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3785 entries, 0 to 3784
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area           3785 non-null   float64
 1   property_type  3785 non-null   object
 2   bedRoom        3785 non-null   int64
 3   bathroom       3785 non-null   int64
 4   balcony        3785 non-null   object
 5   facing         2681 non-null   object
 6   sector         3785 non-null   object
 7   society_name   3785 non-null   object
 8   Price          3785 non-null   float64
 9   Study_room     3785 non-null   int64
 10  Servant_room   3785 non-null   int64
 11  Pooja_room     3785 non-null   int64
 12  Other          3785 non-null   int64
 13  floor          3766 non-null   float64
 14  age            3785 non-null   object
 15  feature_score  3785 non-null   int64
 16  furnish_score  3785 non-null   float64
 17  rate           3785 non-null   float64
dtypes: float64(5), int64(7), object(6)
memory usage: 532.4+ KB

In [4]:
df.drop(columns={'facing'},inplace=True)

In [7]:
df[df['property_type'] == 'house']['floor'].median()

np.float64(2.0)

In [8]:
df['floor'].fillna(2.0,inplace=True)

In [10]:
df.age.value_counts()

age
Relatively New        1656
Mid                    588
Newly House            513
Under Construction     358
Old                    341
undefined              329
Name: count, dtype: int64

In [12]:
df[df['age'] == 'undefined']

,area,property_type,bedRoom,bathroom,balcony,sector,society_name,Price,Study_room,Servant_room,Pooja_room,Other,floor,age,feature_score,furnish_score,rate
5,6269.000000,flat,2,2,3,36,signature global infinity mall,0.41,0,0,0,0,3.0,undefined,0,0.0,654.011804
15,16859.000000,flat,4,5,3,108,sobha city,3.95,0,0,0,0,25.0,undefined,0,0.5,2342.962216
16,14084.000000,flat,1,1,No,62,senate court,0.90,0,0,0,0,0.0,undefined,0,0.0,639.023005
24,7910.000000,flat,2,2,1,36,the serenas,0.42,0,0,0,0,3.0,undefined,0,3.5,530.973451
25,2036.777778,flat,3,4,2,65,mm golfestate,6.15,0,0,0,0,20.0,undefined,0,0.0,30194.752059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,2680.000000,house,1,1,No,108,independent,1.34,0,0,0,0,1.0,undefined,0,0.5,5000.000000
3373,4050.270000,house,1,1,1,39,independent,0.34,0,0,0,0,1.0,undefined,0,0.0,839.450209
3374,2000.000000,house,2,2,2,Rajendra Park,independent,9.90,0,0,0,0,3.0,undefined,0,0.5,49500.000000
3376,1650.040000,house,1,1,No,Sushant Lok Phase,independent,2.15,0,0,0,0,1.0,undefined,0,0.5,13029.987152
3385,1349.980000,house,5,5,2,Mianwali Colony,project mianwali colony,2.00,0,0,0,0,3.0,undefined,0,0.5,14815.034297

In [13]:
def mode_based_imputation(row):
    if row['age'] == 'undefined':
        mode_value = df[(df['sector'] == row['sector']) & (df['property_type'] == row['property_type'])]['age'].mode()
        # If mode_value is empty (no mode found), return NaN, otherwise return the mode
        if not mode_value.empty:
            return mode_value.iloc[0] 
        else:
            return np.nan
    else:
        return row['age']

In [14]:
df['age'] = df.apply(mode_based_imputation,axis=1)

In [15]:
df.age.value_counts()

age
Relatively New        1786
Mid                    631
Newly House            530
Under Construction     385
Old                    368
undefined               85
Name: count, dtype: int64

In [16]:
def mode_based_imputation2(row):
    if row['age'] == 'undefined':
        mode_value = df[(df['sector'] == row['sector'])]['age'].mode()
        # If mode_value is empty (no mode found), return NaN, otherwise return the mode
        if not mode_value.empty:
            return mode_value.iloc[0] 
        else:
            return np.nan
    else:
        return row['age']

In [17]:
df['age'] = df.apply(mode_based_imputation2,axis=1)

In [18]:
df.age.value_counts()

age
Relatively New        1804
Mid                    634
Newly House            531
Under Construction     390
Old                    370
undefined               56
Name: count, dtype: int64

In [19]:
def mode_based_imputation3(row):
    if row['age'] == 'undefined':
        mode_value = df[(df['property_type'] == row['property_type'])]['age'].mode()
        # If mode_value is empty (no mode found), return NaN, otherwise return the mode
        if not mode_value.empty:
            return mode_value.iloc[0] 
        else:
            return np.nan
    else:
        return row['age']

In [20]:
df['age'] = df.apply(mode_based_imputation3,axis=1)

In [21]:
df.age.value_counts()

age
Relatively New        1816
Mid                    678
Newly House            531
Under Construction     390
Old                    370
Name: count, dtype: int64

In [23]:
df.isna().sum()

area             0
property_type    0
bedRoom          0
bathroom         0
balcony          0
sector           0
society_name     0
Price            0
Study_room       0
Servant_room     0
Pooja_room       0
Other            0
floor            0
age              0
feature_score    0
furnish_score    0
rate             0
dtype: int64

In [24]:
df.shape

(3785, 17)

In [25]:
df.to_csv('missing.csv',index=False)